﻿@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}

@*@if (TempData["success"] != null)
{
    <h2>@TempData["success"]</h2>
}*@

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Category list</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i>&nbsp; Create new category
            </a>
        </div> 
    </div>
</div>
<br />
<table class="table table-border table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Category name</th>
            <th>Display order</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td width="50%">@item.Name</td>
                <td width="30%">@item.DisplayOrder</td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Category" asp-action="Edit" asp-route-id="@item.Id"
                        class="btn btn-primary mx-2">
                            <i class="bi bi-pencil-square"></i> 
                            &nbsp; Edit
                        </a>
                            <a asp-controller="Category" asp-action="Delete" asp-route-id="@item.Id"
                                         class="btn btn-danger mx-2">
                            <i class="bi bi-trash-fill"></i>
                            &nbsp; Delete
                            </a>
                    </div>
                </td>
            </tr>

        }
    </tbody>
</table>